body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

h1{
    color: yellow;
}